table.stat-table {
    border: 1px solid #888;
    text-align: center;
}

table.stat-table td {
    border: 1px solid #888;
    padding: 4px;
    min-width: 25px;
}

@media(prefers-color-scheme: dark) {
    .stat-higher {
        background-color: #008800;
    }

    .stat-lower {
        background-color: #880000;
    }

    .build-different {
        color: #ff8800;
    }
}
@media(prefers-color-scheme: light) {
    .stat-higher {
        background-color: #88ff88;
    }

    .stat-lower {
        background-color: #ff8888;
    }

    .build-different {
        color: #ee7700;
    }
}


.stat-considered {
    text-decoration: underline;
}

