table.stat-table {
    border: 1px solid #888;
    text-align: center;
}

table.stat-table td {
    border: 1px solid #888;
    padding: 4px;
    min-width: 25px;
}

.stat-higher {
    background-color: #008800;
}

.stat-lower {
    background-color: #880000;
}

.build-different {
    color: #ff8800;
}

.stat-considered {
    text-decoration: underline;
}

